.app_list {
    list-style-type: none;
}

.center {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    margin-top: 20px;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.left {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    /* text-align: center; */
}

#project_header {
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: bold; */
    font-size: 125%;
    margin-left: 40px;
    margin-top: 20px;
}

#episode_to_watch {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
}

.project-list {
    font-size: 30px;
    margin-left: 0px;
    margin-top: 20px margin-top: 300px;
    width: 100%;
    padding: 10px;
    font-size: 1.5em;
    /* text-align: center; */
}

.project-list {
    display: grid;
    grid-template-columns: 75%;
    grid-gap: 6px;
    /* grid-template-rows: 100px; */
}

.item {
    border-radius: 3px;
    margin-bottom: auto;
    background-color: rgb(189, 193, 198);
    height: 80px;
    color: black;
}

.item:hover {
    /* background-color: lightsteelblue; */
    box-shadow: 1px 1px 2px 2px #737698;
    text-decoration: none;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.item-text {
    padding-top: 20px;
    padding-left: 20px;
}

.one {
    grid-row: 1/2;
}

.two {
    grid-row: 2/3;
}

.three {
    grid-row: 3/4;
}

.four {
    grid-row: 4/5;
}

.show-wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 6px;
}

.cast_member {
    border-radius: 3px;
    margin-bottom: auto;
    background-color: rgb(181, 188, 244);
    border: rgb(18, 25, 34) 2px;
    height: 30px;
    color: black;
}