<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/alien.ico') }}">
    <title>Eric Booker</title>
    <style>
        header.masthead {
            text-align: center;
            color: black;
            /* background-image: url('static/img/header-bg.jpg'); */
            background-color: lightgray;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-position: center center;
            background-size: cover;
            width: 100vw;
            height: 10vh;
        }
    </style>

</head>

<body id="top">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#top">ERICBOOKER.IO</a>
    </nav>


    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                PROJECTS
            </div>
        </div>

    </header>

    <!-- <div class="project-list">
        <h5 id="project_header">Projects</h5>
        <ul class="app_list">
            <li> <a href="https://showdata-flask2.herokuapp.com/">COVID-19 Data by County</a></li>
            <li> <a href="/episode-picker">Episode Picker Beta</a></li>
            <li> <a href="/episode-picker-deluxe">The Episode Picker II</a></li>
        </ul>
    </div> -->

        <div class="project-list"> 
        <!-- <h5 id="project_header">Projects</h5> -->
        
            <a href="https://showdata-flask2.herokuapp.com/">
                <div class="item one"> <div class="item-text">COVID-19 Data by County</div></div>
            </a>

           <a href="/episode-picker">
                <div class="item two"><div class="item-text">Episode Picker Beta</div></div>
            </a>

            <a href="/episode-picker-deluxe">
                <div class="item three"><div class="item-text">The Episode Picker II</div></div>
            </a>

            <a href="/episode-details">
                <div class="item four"><div class="item-text">Episode Details</div></div>
            </a> 

    </div>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>